* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo h2 {
    color: #FF4252;
    font-weight: bold;
    line-height: 25px;
}