* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.Navbarleft__two {
    margin-left: 15px;
    border: none;
}

.Navbarleft__one {
    border: none;
}