
.product-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1;
}

.product-price-tag {
    padding-left: 10px;
}
.product-price-tag2 {
    padding-left: 10px;
    text-decoration: line-through;
}

.fa-star {
    color: #FFC600;
}

/* @media only screen and (max-width: 1690px){
    .product-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        place-items: center;
        flex: 1;
    }
}; */